.header{
    width: 100%;
    text-align: center; 
    
}

.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
        background: #2955b3;
        padding: 5px;

    text-align: center;      
    position: fixed;
}

.nav ul{
    display: flex;
}

.nav ul li{
    margin: 10px;
    list-style: none;
    
}

.nav ul li a{
    color: white;
    text-decoration: none;
    padding: 4px;
    transition: all 400ms ease;
    border-radius: 10px 10px 0px 0px;
}

.nav ul li a:hover{
    background: rgba(122, 164, 255, .3);
    border-bottom: 1px solid white;
}

.logo{
    font-size: 38px;
    color: white;
    transition: all 300ms ease;
}

.logo:hover{
    transform: rotateZ(-5deg);
}

.bars__menu{
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}

.bars__menu span{
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms ease;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px;
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}

@media screen and (max-width:1000px) {
    .nav ul{
        display: none;
    }

    .nav ul li a:hover{
        font-size: 18px;
    }

    .nav .ul{
        position: absolute;
            display: block;
            display: flex;


            top:0;
            left: 0;

        width: 300px;
        height: 100vh;

            background: #2955b3;

                flex-direction: column;
                align-items: center;
                justify-content: center;

        transition: all 0.5s ease;
        transform: translateX(-100%);
    }

    .nav .activeul{
        transform: translateX(0);
    }

    .bars__menu{
        display: block;
    }
}


body{
    background-color: #F3F3F3;
}

.container{
    background: #ffff;
}

.footer{
    border-top: 3px solid #2955b3;
}

.pie-pagina{
    width: 100%;
    background-color: #F2F2F2;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 200px;
    transition: all 0.5s ease;
    border-radius: 100px;
} 



.pie-pagina .grupo-1 .box h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #000;
    margin-bottom: 10px;
}


.pie-pagina .grupo-1 .red-social a{
    text-decoration: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #C4C4C4;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 60px;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: #2955b3;
}

.pie-pagina .grupo-2{
    background-color: #D8D8D8;
    padding: 15px 10px;
    text-align: center;
    color: #000;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:1024px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

/* Tex From index.html */

.scrol{
    padding-top: 4rem;
    padding-bottom: 4rem;
}


.instagram-web{
    border: 2px solid #2955b3;
    border-radius: 20px;
}

@media screen and (max-width:1024px) {
    .instagram-web{
        height: 370px;
        width: 300px;
    }
}


.ptxt{
    padding: 15px;
}